{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>Liste des catégories</h1>
{% for category in categories %}
<div>
    <h2>{{loop.index}} / {{category.name}}</h2>
    <a href="{{ path("category_show", { categoryName: category.name }) }}">Voir les séries de la catgéorie</a>
</div>
{% else %}
Aucune série trouvée.
{% endfor %}

<a href="{{ path('app_index') }}">
    Retour à l'acceuil
</a>
{% endblock %}